{% extends "base.html" %}

{% block body %}
<div class="hero-unit">
	Register
	</br>
	username <input id="username" type="text" name="username" maxlength="32" placeholder="Username" class="input-xlarge" value="">
	</br>
	password <input id="password" type="password" name="password" maxlength="75" placeholder="Password">
</div>

<div class="hero-unit">
	Login
	</br>
	username <input id="username" type="text" name="username" maxlength="32" placeholder="Username" class="input-xlarge" value="">
	</br>
	password <input id="password" type="password" name="password" maxlength="75" placeholder="Password">
</div>
{% endblock body %}