{% extends "base.html" %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/timer.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/timer-round.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/timer-break.css"/>

<script type="text/javascript">
var startTime = 0;
var stopTime = 0;
var sessionStartTime = 0;
var roundsNum = {{session.rounds_num}};
var roundsDone = 0;
var roundsDur = {{session.rounds_dur}} * 1000;
var breaks_dur = {{session.breaks_dur}} * 1000;
var roundNum = roundsDone + 1;

function driver() {
	startSession();
	$.ajax({
	    type: "POST",
	    url:"/begin_session/",
	    data: {
            "session_id" : "{{session.id}}",
        },
        success: function(req){
        }
	});
	startRound();
}

function startRound() {
	if (roundsDone < roundsNum) {
		roundNum = roundsDone + 1;
		$("#session").html(roundNum);
		$.ajax({
		    type: "POST",
		    url:"/begin_round/",
		    data: {
                "session_id" : "{{session.id}}",
                "round_num" : roundNum,
            },
	        success: function(req){
    			$(".numbers-round").css("animation", "");
				$(".numbers-round").css("animation-play-state", "running");
				$(".numbers-break").css("animation", "none");
				$('#the-timer').css('border', '7px solid #00EEEE')
				$('#the-timer-break').css('opacity', '0.4');
				$('#the-timer-round').css('opacity', '1.0');
	        }
    	});
		// alert('ba3d')
		var lol = setTimeout(function getTime2(){roundsDone++;startBreak();},roundsDur);
		// alert('felakher')
	}
	else {
		$('#the-timer').css('border', '7px solid #efefef')
		$(".numbers").css("animation-play-state", "paused");
		$(".numbers-break").css("animation", "none");
		$(".numbers-round").css("animation", "none");
		$('#the-timer-break').css('opacity', '0.4');
		$('#the-timer-round').css('opacity', '0.4');
		$.ajax({
		    type: "POST",
		    url:"/end_session/",
		    data: {
                "session_id" : "{{session.id}}",
            },
	        success: function(req){
	        	window.location.assign("http://www.w3schools.com")
	        }
    	});
	}
}

function startBreak() {
	if (roundsDone < roundsNum) {
		roundNum = roundsDone + 1;
		$("#session").html("Break");
		$.ajax({
		    type: "POST",
		    url:"/end_round/",
		    data: {
                "session_id" : "{{session.id}}",
                "round_num" : roundNum,
            },
	        success: function(req){
    			$(".numbers-break").css("animation", "");
				$(".numbers-break").css("animation-play-state", "running");
				$(".numbers-round").css("animation", "none");
				$('#the-timer').css('border', '7px solid #CD2626');
				$('#the-timer-round').css('opacity', '0.4');
				$('#the-timer-break').css('opacity', '1.0');
	        }
    	});

		setTimeout(function getTime2(){startRound();},breaks_dur);
	}
	else {
		$('#the-timer').css('border', '7px solid #efefef')
		$(".numbers").css("animation-play-state", "paused");
		$(".numbers-break").css("animation", "none");
		$(".numbers-round").css("animation", "none");
		$('#the-timer-break').css('opacity', '0.4');
		$('#the-timer-round').css('opacity', '0.4');
		$.ajax({
		    type: "POST",
		    url:"/end_session/",
		    data: {
                "session_id" : "{{session.id}}",
            },
	        success: function(req){
	        	window.location.assign("/")
	        }
    	});
	}
}

function startSession(){
	sessionStartTime = getTimeNow();
	$(".numbers").css("animation-play-state", "running");
}
var startTime = 0;
var stopTime = 0;
function getTimeNow(){
  var day = new Date();
  return day.getTime();
}

// var lol = setInterval(function getTime2(){clearInterval(lol);alert("Time over");},5000);
</script>
<script src="http://www.amcharts.com/lib/amcharts.js" type="text/javascript"></script>
<script type="text/javascript">
	var chart2;
	var legend2;

	var chartData2 = [{
	    move: "Front Snap Punch",
	    value: 260},
	{
	    move: "High Parry",
	    value: 201},
	{
	    move: "Side Breakfall",
	    value: 65},
	{
	    move: "Forward Roll",
	    value: 39},
	{
	    move: "Escape Wrist Grab",
	    value: 17},
	{
	    move: "Escape Front Strangle",
	    value: 12}];

	AmCharts.ready(function() {
	    // PIE CHART
	    chart2 = new AmCharts.AmPieChart();
	    chart2.dataProvider = chartData2;
	    chart2.titleField = "move";
	    chart2.valueField = "value";
	    chart2.outlineColor = "#FFFFFF";
	    chart2.outlineAlpha = 0.8;
	    chart2.outlineThickness = 2;
	    // this makes the chart 3D
	    chart2.depth3D = 15;
	    chart2.angle = 30;

	    // WRITE
	    chart2.write("chartdiv");
	});
</script>


<script type="text/javascript">
var chart;

var chartData = [{
    move: "Front Snap Punch",
    times: 260,
    color: "#FF0F00"},
{
    move: "High Parry",
    times: 201,
    color: "#FF6600"},
{
    move: "Side Breakfall",
    times: 65,
    color: "#FF9E01"},
{
    move: "Forward Roll",
    times: 39,
    color: "#FCD202"},
{
    move: "Escape Wrist Grab",
    times: 17,
    color: "#04D215"},
{
    move: "Escape Front Strangle",
    times: 12,
    color: "#000000"}];


AmCharts.ready(function() {
    // SERIAL CHART
    chart = new AmCharts.AmSerialChart();
    chart.dataProvider = chartData;
    chart.categoryField = "move";
    chart.marginRight = 0;
    chart.marginTop = 0;    
    chart.autoMarginOffset = 0;
    // the following two lines makes chart 3D
    chart.depth3D = 20;
    chart.angle = 30;

    // AXES
    // category
    var categoryAxis = chart.categoryAxis;
    categoryAxis.labelRotation = 90;
    categoryAxis.dashLength = 5;
    categoryAxis.gridPosition = "start";

    // value
    var valueAxis = new AmCharts.ValueAxis();
    valueAxis.title = "Visitors";
    valueAxis.dashLength = 5;
    chart.addValueAxis(valueAxis);

    // GRAPH            
    var graph = new AmCharts.AmGraph();
    graph.valueField = "times";
    graph.colorField = "color";
    graph.balloonText = "[[category]]: [[value]]";
    graph.type = "column";
    graph.lineAlpha = 0;
    graph.fillAlphas = 1;
    chart.addGraph(graph);

    // WRITE
    chart.write("chartdiv2");
});
</script>

<div class="container" style="width:500;">
	<!-- time to add the controls -->
	<input id="start" name="controls" type="radio" />
	<input id="stop" name="controls" type="radio" />
	<input id="reset" name="controls" type="radio" />
	<div class="timer" id="the-timer">
		<div class="cell">
			<div class="numbers tenhour moveten">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell">
			<div class="numbers hour moveten">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell divider"><div class="numbers">:</div></div>
		<div class="cell">
			<div class="numbers tenminute movesix">0 1 2 3 4 5 6</div>
		</div>
		<div class="cell">
			<div class="numbers minute moveten">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell divider"><div class="numbers">:</div></div>
		<div class="cell">
			<div class="numbers tensecond movesix">0 1 2 3 4 5 6</div>
		</div>
		<div class="cell">
			<div id="lol"  class="numbers second moveten">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell divider"><div class="numbers">:</div></div>
		<div class="cell">
			<div class="numbers milisecond moveten">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell">
			<div class="numbers tenmilisecond moveten">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell">
			<div class="numbers hundredmilisecond moveten">0 1 2 3 4 5 6 7 8 9</div>
		</div>
	</div>
	<div class="timer-round" id="the-timer-round">
		<div class="cell-round">
			<div class="numbers-round tenhour-round moveten-round">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell-round">
			<div class="numbers-round hour-round moveten-round">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell-round divider-round"><div class="numbers-round">:</div></div>
		<div class="cell-round">
			<div class="numbers-round tenminute-round movesix-round">0 1 2 3 4 5 6</div>
		</div>
		<div class="cell-round">
			<div class="numbers-round minute-round moveten-round">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell-round divider-round"><div class="numbers-round">:</div></div>
		<div class="cell-round">
			<div class="numbers-round tensecond-round movesix-round">0 1 2 3 4 5 6</div>
		</div>
		<div class="cell-round">
			<div id="lol"  class="numbers-round second-round moveten-round">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell-round divider-round"><div class="numbers-round">:</div></div>
		<div class="cell-round">
			<div class="numbers-round milisecond-round moveten-round">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell-round">
			<div class="numbers-round tenmilisecond-round moveten-round">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell-round">
			<div class="numbers-round hundredmilisecond-round moveten-round">0 1 2 3 4 5 6 7 8 9</div>
		</div>
	</div>
	<div class="timer-break" id="the-timer-break">
		<div class="cell-break">
			<div class="numbers-break tenhour-break moveten-break">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell-break">
			<div class="numbers-break hour-break moveten-break">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell-break divider-break"><div class="numbers-break">:</div></div>
		<div class="cell-break">
			<div class="numbers-break tenminute-break movesix-break">0 1 2 3 4 5 6</div>
		</div>
		<div class="cell-break">
			<div class="numbers-break minute-break moveten-break">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell-break divider-break"><div class="numbers-break">:</div></div>
		<div class="cell-break">
			<div class="numbers-break tensecond-break movesix-break">0 1 2 3 4 5 6</div>
		</div>
		<div class="cell-break">
			<div id="lol"  class="numbers-break second-break moveten-break">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell-break divider-break"><div class="numbers-break">:</div></div>
		<div class="cell-break">
			<div class="numbers-break milisecond-break moveten-break">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell-break">
			<div class="numbers-break tenmilisecond-break moveten-break">0 1 2 3 4 5 6 7 8 9</div>
		</div>
		<div class="cell-break">
			<div class="numbers-break hundredmilisecond-break moveten-break">0 1 2 3 4 5 6 7 8 9</div>
		</div>
	</div>
	<!-- Lables for the controls -->
	<div id="timer_controls">
		<label onclick="driver();" for="">Start</label>
		<!-- <label onclick='$(".numbers").css("animation", "none");'>Stop</label>
		<label >Reset</label> -->
	</div>
	<h1>Session Status : <div id="session">Session not yet started</div></h1>
	<!-- chart1 -->
	<div id="chartdiv" style="width: 100%; height: 362px;"></div>
	<!-- chart2 -->
	<div id="chartdiv2" style="width: 100%; height: 355px;"></div>
</div>


<!-- Lets load up prefixfree first -->
<script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></SCRIPT>
<!-- You can download it from http://leaverou.github.com/prefixfree/ -->

{% endblock body %}