<script type="text/javascript">
var startTime = 0;
var stopTime = 0;
var sessionStartTime = 0;
var roundsNum = {{session.rounds_num}};
var roundsDone = 0;
var roundsDur = {{session.rounds_dur}} * 1000;
var breaks_dur = {{session.breaks_dur}} * 1000;
var roundNum = roundsDone + 1;

function driver() {
	startSession();
	$.ajax({
	    type: "POST",
	    url:"/begin_session/",
	    data: {
            "session_id" : "{{session.id}}",
        },
        success: function(req){
        }
	});
	startRound();
}

function startRound() {
	if (roundsDone < roundsNum) {
		roundNum = roundsDone + 1;
		$("#session").html(roundNum);
		$.ajax({
		    type: "POST",
		    url:"/begin_round/",
		    data: {
                "session_id" : "{{session.id}}",
                "round_num" : roundNum,
            },
	        success: function(req){
    			$(".numbers-round").css("animation", "");
				$(".numbers-round").css("animation-play-state", "running");
				$(".numbers-break").css("animation", "none");
				$('#the-timer').css('border', '7px solid #CD2626')
				$('#the-timer-break').css('opacity', '0.4');
				$('#the-timer-round').css('opacity', '1.0');
	        }
    	});
		// alert('ba3d')
		var lol = setTimeout(function getTime2(){roundsDone++;startBreak();},roundsDur);
		// alert('felakher')
	}
	else {
		$('#the-timer').css('border', '7px solid #efefef')
		$(".numbers").css("animation-play-state", "paused");
		$(".numbers-break").css("animation", "none");
		$(".numbers-round").css("animation", "none");
		$('#the-timer-break').css('opacity', '0.4');
		$('#the-timer-round').css('opacity', '0.4');
		$.ajax({
		    type: "POST",
		    url:"/end_session/",
		    data: {
                "session_id" : "{{session.id}}",
            },
	        success: function(req){
	        	window.location.assign("http://www.w3schools.com")
	        }
    	});
	}
}

function startBreak() {
	if (roundsDone < roundsNum) {
		roundNum = roundsDone + 1;
		$("#session").html("Break");
		$.ajax({
		    type: "POST",
		    url:"/end_round/",
		    data: {
                "session_id" : "{{session.id}}",
                "round_num" : roundNum,
            },
	        success: function(req){
    			$(".numbers-break").css("animation", "");
				$(".numbers-break").css("animation-play-state", "running");
				$(".numbers-round").css("animation", "none");
				$('#the-timer').css('border', '7px solid #00EEEE');
				$('#the-timer-round').css('opacity', '0.4');
				$('#the-timer-break').css('opacity', '1.0');
	        }
    	});

		setTimeout(function getTime2(){startRound();},breaks_dur);
	}
	else {
		$('#the-timer').css('border', '7px solid #efefef')
		$(".numbers").css("animation-play-state", "paused");
		$(".numbers-break").css("animation", "none");
		$(".numbers-round").css("animation", "none");
		$('#the-timer-break').css('opacity', '0.4');
		$('#the-timer-round').css('opacity', '0.4');
		$.ajax({
		    type: "POST",
		    url:"/end_session/",
		    data: {
                "session_id" : "{{session.id}}",
            },
	        success: function(req){
	        	alert("Session finished.");
	        }
    	});
	}
}

function startSession(){
	sessionStartTime = getTimeNow();
	$(".numbers").css("animation-play-state", "running");
}
var startTime = 0;
var stopTime = 0;
function getTimeNow(){
  var day = new Date();
  return day.getTime();
}

// var lol = setInterval(function getTime2(){clearInterval(lol);alert("Time over");},5000);
</script>


<!-- Lets load up prefixfree first -->
<!-- You can download it from http://leaverou.github.com/prefixfree/ -->